/* Color Theme Swatches in Hex */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
body .container table {
  border-radius: 6px; }

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'Roboto', sans-serif; }
  body .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    height: 80%;
    width: 80%;
    padding: 1vh; }
    body .container table {
      text-align: start;
      padding: 0.1vh;
      background-color: #73161E;
      box-shadow: #73161E 1px 1px 12px;
      height: 30%;
      width: 40%; }
      body .container table thead td {
        border: #73161E solid 2px;
        padding: 0.2vh;
        border: #a61f1f solid 2px;
        background-color: #A61F1F;
        color: white; }
      body .container table tbody td {
        border: #73161E solid 2px;
        padding: 0.2vh;
        border: #d94b18 solid 2px;
        background-color: #D94B18;
        color: brown; }
